{% extends 'base.html.twig' %}

{% block title %}New MaterialiArredi{% endblock %}

{% block body %}
    <h1>Create new MaterialiArredi</h1>

    {{ include('materiali_arredi/_form.html.twig') }}

    <a href="#">back to list</a>
{% endblock %}
