<form method="post" action="{{ path('app_lavori_delete', {'id': lavori.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ lavori.id) }}">
    <button class="btn">Delete</button>
</form>
