{% extends 'base.html.twig' %}

{% block title %}Edit Preventivo{% endblock %}

{% block body %}
    <h1>Edit Preventivo</h1>

    {{ include('preventivo/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_preventivo_index') }}">back to list</a>

    {{ include('preventivo/_delete_form.html.twig') }}
{% endblock %}
