{% extends 'base.html.twig' %}

{% block title %}Preventivi{% endblock %}

{% block body %}
<div class="w-50 ms-5">
	<h2>Elenco dei tuoi preventivi</h2>
	<br>
	{% if preventivi.count() > 0%}
		{% for p in preventivi %}
			<li> <a href="{{ path('app_preventivo', {id: p.id} ) }}">{{ p.nome }}</a></li>
		{% endfor %}
	{% else %}
		<p>Nessun Preventivo</p>
	{% endif %}
</div>
{% endblock %}
